* {
    margin: 0;
    padding: 0;
}

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shere-style start*/
.shere-style {
    color: #FD6E0A;

}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;



}

.background-color {
    background-color: #f1e1d5;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;

    border-radius: 5px;
    border: none;
}

.section-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}

.section-description {

    color: rgb(117, 117, 117);

    font-size: 18px;
    font-weight: 600;

}
.text-center{
    text-align: center;
}

/* shere-style end */

/* header */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    padding-bottom: 0;
  

}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px
}

nav ul li {
    list-style: none;
    margin: 20px;



}

.nav-ikon {
    display: flex;
    align-items: center;



}

nav ul li a {
    text-decoration: none;
}

/* banner style */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 35px 0 150px;
}

.banner-content {
    max-width: 580px;
}

.bannar-greetings {


    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;


    width: 177px;
    height: 61px;
    left: 230px;
    right: 178px;
    top: 297px;
    bottom: -96px;
    margin-bottom: 20px;
}

.bannar-title {
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
    /* Mary Hardy */

    width: 498px;
    height: 116px;
    left: 230px;
    right: -143px;
    top: 363px;
    bottom: -217px;
    margin-bottom: 20px;



}

.bennar-description {



    width: 585px;
    height: 60px;
    left: 230px;
    right: -230px;
    top: 499px;
    bottom: -297px;
    margin-bottom: 20px;

}

.banner-btn {
    display: flex;
    gap: 30px;
}

.banner-img {
   



width: 584px;
height: 676px;
left: 978px;
right: 38px;
top: 161px;
bottom: 3419px;
}
/* mani style */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about style */
.about-container {
    margin-top: 130px;
    margin-bottom: 130px;
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
   
    
}
/* about items style */
.about{
    box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
background: rgb(255, 255, 255);
/* position: static; */
padding: 10px;
border-radius: 20px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px ;
    
  

}
.item-title{
    
color: 
rgb(71, 71, 71);
}
.item-discription{
    color: #050505;
    font-size: 20px;
font-weight: 500;
}
/* skill section */
.what-i-do{
   
    margin: 30px;
    
  

}

.sikll-container{
   display: flex;
 gap: 24px;
   
 
    

}
.sikll{
    border-radius: 5px;
   
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(121, 115, 115);
    margin-top: 50px;

    
}
